<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905487612969-je0kqf54l1vv5863ht9s4608h8t29f0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905487612969-je0kqf54l1vv5863ht9s4608h8t29f0t</string>
	<key>API_KEY</key>
	<string>AIzaSyDgsOy0EnG6JScGgjavlG13X56oYPigXho</string>
	<key>GCM_SENDER_ID</key>
	<string>905487612969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.databasedemo</string>
	<key>PROJECT_ID</key>
	<string>database-demo-91ebe</string>
	<key>STORAGE_BUCKET</key>
	<string>database-demo-91ebe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905487612969:ios:38de920a346b1027973038</string>
</dict>
</plist>